h1 {
    padding-top: 3rem;
    color: #094d3c;
    font-weight: 700;
}

html, body {
    background-color:rgb(232, 199, 185);
    font-family: 'Ubuntu Mono', monospace;
}

#navbar {
    /* background-color:rgb(232, 199, 185); */
}

#artist {
    color: #ffffff;
    background-color: rgb(159, 157, 157);
}

#song {
    background-color: rgb(126, 123, 123);
}

#addsong__button {
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
    margin-top: 2rem;
}

#addsong__button:hover{
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
    color: #094d3c;
    transition: 0.5s;
}

.dashboard-div {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.dashboard-ul {
    width: 700px;
}

.dashboard-li {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.dashboard-li .spotify_and_youtube {
    @media (max-width: 767px) {
        display: flex;
        justify-content: space-between;
    }
}

.spotify {
    color: #72d8bf;
}

.youtube {
    color: #e79191;
}

.dashboard-a i{
    padding: 0.1rem 0.4rem 0 0;
}

.dashboard-a:hover {
    text-decoration: none;
}


@media (max-width: 767px) {
    .dashboard-li {
        flex-direction: column;
    }

    .dashboard-li .spotify_and_youtube {
        display: flex;
        justify-content: space-between;
    }   
}