h1 {
    padding-top: 3rem;
    color: #094d3c;
    font-weight: 700;
}

html, body {
    background-color:rgb(232, 199, 185);
    font-family: 'Ubuntu Mono', monospace;
}

#navbar {
    /* background-color:rgb(232, 199, 185); */
}

#artist {
    color: #ffffff;
    background-color: rgb(130, 127, 127);
}

#addsong__button {
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
}

#addsong__button:hover{
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
    color: #094d3c;
    transition: 0.5s;
}

.dashboard-div {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.dashboard-ul {
    width: 700px;
}

.dashboard-li {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}

.dashboard-a {
    color: #72d8bf;
}

.dashboard-a i{
    padding: 0.1rem 0.4rem 0 0;
}

.dashboard-a:hover {
    text-decoration: none;
}