h1 {
    /* padding-top: 3rem; */
    /* color: #094d3c; */
    /* font-weight: 700; */
}

p {
    /* margin-top: 1.5rem; */
}

html, body {
    /* background-color:rgb(232, 199, 185); */
    font-family: 'Ubuntu Mono', monospace;
    border-bottom: 3px solid #094d3c;
}

#custom-navbar .custom-menu-nav-item {
    /* padding-left: 5px; */
    /* font-weight: 600; */
    /* font-size: 2rem; */
}

#custom-navbar .custom-menu-nav-item:hover {
    /* background-color:rgb(159, 157, 157); */
}

input:focus {
    outline: none;
}


#signuplogin__buttondiv {
    display: flex;
    justify-content: center;
}

#signup_login_button {
    background-color: #cba1a1;
    border-radius: 5%;
    border: 2px solid #ebeaea;
    margin-top: 4rem;
    position: relative;
    bottom: 40px;
}


#signup_login_button:hover {
    background-color: #f7afaf;
}

#custom-navbar {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color:rgb(232, 199, 185); */
}

#artist {
    color: #ffffff;
    background-color: rgb(159, 157, 157);
}

#song {
    background-color: rgb(126, 123, 123);
}

#addsong__button {
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
    margin-top: 2rem;
}

#addsong__button:hover{
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid #c49292;
    color: #094d3c;
    transition: 0.5s;
}

.dashboard-div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(233, 196, 196);
    box-shadow: 5px 2px 15px 5px rgb(138, 137, 137);
    border-radius: 30px;
}

.dashboard-ul {
    width: 720px;
    border-radius: 10px;
}

.dashboard-li {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.dashboard-li p{
    margin-top: 20px;
}

.dashboard-li .artistsong_image{
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.dashboard-li .artistsong_image img {
    width: 70px;
    height: 70px;
}

#dashboard_genre {
    margin-left: 1rem;
    /* display: inline; */
}

/* .dashboard-li .spotify_and_youtube {
    display: flex;
    justify-content: flex-start;
} */

.spotify {
    color: #8cd4c2;
    background-color: #000;
    border-radius: 5px;
    padding: 2px 3px;
    font-size: 14px;
}
.spotify:hover {
    color: #000;
    background-color: #fff;
}

.youtube {
    color: #e79191;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 3px;
}

.youtube:hover {
    color: #000;
    background-color: #e79191;
}

.dashboard-a i{
    padding: 0.1rem 0.4rem 0 0;
}

.dashboard-a:hover {
    text-decoration: none;
}

.loginsignup_formsection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginsignup_formsection .form-group {
    width: 100%;
    padding: 1rem 15rem;
}

.loginsignup_formsection .form-group .form-control{
    height: 3rem;
}


/* navbar + container */
.wrapper {
    background-color: #cba1a1;
    /* background-color: #f3a1a1; */
    /* background-color: #E7C7B9; */
    /* padding-bottom: 3rem; */
    border-top: 3px solid #094d3c;
}

.container {
    padding: 1rem 0;    
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.footer .footer_nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(201, 200, 200);
    padding: 5px 0;
}

.footer .footer_nav a{
    color:rgb(138, 137, 137);
    text-decoration: none;
}

.footer .footer_nav a:hover {
    color:#e95454;
}

.footer .creator {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer .creator p a{
    color: #000;
    text-decoration: none;
}

.footer .creator p a:hover {
    color:#e95454;
}

.footer .creator p{
    margin-bottom: 0;
}


@media (min-width: 321px) {
    .dashboard-li .artistsong_image{
        width: 260px;
        height: 60px;
    }
}

@media (max-width: 1279px) {
    .loginsignup_formsection .form-group {
        width: 100%;
        padding: 1rem 13rem;
    }

    .intro_description {
        padding: 0 10rem;
    }
}

@media (max-width: 1023px) {
    .loginsignup_formsection .form-group {
        width: 100%;
        padding: 1rem 8rem;
    }

    .intro_description {
        padding: 0 6rem;
    }
}

@media (max-width: 767px) {
    .dashboard-li {
        flex-direction: column;
    }

    .loginsignup_formsection .form-group {
        width: 100%;
        padding: 1rem 2rem;
    }

    #custom-navbar .custom-menu-nav-item {
        /* font-size: 1.2rem; */
    }

    .intro_description {
        padding: 0 1rem;
    }

    .dashboard-li .artistsong_image img {
        width: 70px;
        height: 70px;
    }

    .dashboard-ul {
        width: 400px;
        border-radius: 10px;
    }
}