.intro_title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #272f2d;
    padding: 1.3rem 1px;
}

.intro_slogan {
    font-size: 0.8rem;
    color: #fff;
    padding: 1.3rem 0;
    letter-spacing: 1px;
    line-height: 1.5;
}

.startusing_div {
    padding: 2rem 0;
}

.startusing_div .startusing_button {
    width: 200px;
    height: 80px;
    padding: 0;
    border: 2px solid #000;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 3px 7px rgb(73, 71, 71);
}

.startusing_div .startusing_a:hover {
    background-color: #094d3c;
    opacity: 0.8;
    color: #fff;
}

.startusing_div .startusing_a {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    line-height: 5rem;
    background-color: #fff;
    color: #094d3c;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 10px;
    /* border: 2px solid #000; */
}

.intro_description_div {
    padding: 0 1rem;
}


/* Readme */

.intro_readme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#fff;
}

.intro_readme .intro_readmediv {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 4rem 0;
}

.intro_readme .intro_readmepointdiv {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    /* font-size: 1.3rem; */
}

.intro_readme .intro_readmepointdiv ul {
    list-style: none;
    /* margin: auto; */
}

.intro_readme .intro_readmepointdiv_li {
    font-size: 0.85rem;
}

.intro_description_p {
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: 0;
}

.intro_pic1_div {
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.intro_pic1 {
    position: relative;
    bottom: -40px;
    border-radius: 20px;
    box-shadow: 5px 3px 12px 5px rgb(241, 211, 211);
    width: 280px;
    height: 130px;
}

.second_description {
    background-color: #4c9281;
    color: rgb(9, 8, 8);
    margin-top: 7rem;
    padding: 4rem 0;
}

.second_description_p {
    width: 300px;
    margin-bottom: 0;
    margin: auto;
}

.intro_pic2_div {
    position: relative;
    /* bottom: -6rem; */
}

.intro_pic2 {
    position: relative;
    bottom: -40px;
    border-radius: 20px;
    box-shadow: 5px 3px 12px 5px rgb(241, 211, 211);
    width: 320px;
    height: 250px;
}

@media (min-width: 568px) {
    .intro_title {
        font-size: 2rem;
        padding: 1.3rem 2rem;
    }

    .intro_slogan {
        font-size: 1.3rem;
        padding: 1.3rem 3rem;
    }

    .intro_description_div {
        padding: 0 3rem;
    }

    .intro_readme .intro_readmepointdiv_li {
        font-size: 1.3rem;
    }

    .intro_pic1 {
        width: 480px;
        height: 230px;
        /* bottom: -120px; */
    }

    .intro_pic2 {
        width: 580px;
        height: 430px;
    }
}

@media (min-width: 768px) {
    .intro_title {
        font-size: 2rem;
        padding: 1.3rem 8rem;
    }

    .intro_slogan {
        font-size: 1.3rem;
        padding: 1.3rem 5rem;
    }

    .intro_description_div {
        padding: 0 7rem;
    }
}

@media (min-width: 960px) {
    .intro_title {
        font-size: 2rem;
        padding: 1.3rem 10.5rem;
    }

    .intro_slogan {
        font-size: 1.3rem;
        padding: 1.3rem 10rem;
    }

    .intro_description_div {
        padding: 0 10rem;
    }
}

@media (min-width: 1024px) {
    .intro_title {
        /* font-size: 2rem; */
        padding: 1.3rem 15rem;
    }

    .intro_slogan {
        /* font-size: 1.3rem; */
        padding: 1.3rem 13rem;
    }

    .intro_description_div {
        padding: 0 15rem;
    }
}


@media (min-width: 1200px) {
    .intro_title {
        font-size: 2.4rem;
        padding: 1.3rem 20rem;
    }

    .intro_slogan {
        /* font-size: 1.3rem; */
        padding: 1.3rem 20rem;
    }

    .intro_description_div {
        padding: 1.5rem 18rem;
    }
}


