.playlists-div {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    border: 2px solid rgb(233, 196, 196);
    box-shadow: 5px 2px 15px 5px rgb(138, 137, 137);
    border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
}

.personal_li .artistsong_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playlists {
    width: 350px;
}

.song_genre {
    width: 150px;
}

.personal_ul {
    border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
}

.personal_li {
    display: flex;
    justify-content: space-evenly;
    border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
    box-shadow: 5px 2px 15px 5px rgb(98, 97, 97);
    border: dashed rgb(48, 48, 48) 1px;
    max-width: 270px;
    margin: auto;
}

.personal_ul>.personal_li:last-child {
    border-bottom: dashed black 1px;
}

.addsong_div {
    width: 300px;
    margin: auto;
}

.artist_song {
    font-weight: 700;
    text-decoration: underline;
}

@media (min-width: 321px) {
    .personal_li {
        max-width: 300px;
    }
}


@media (min-width: 768px) {
    #playlists {
        width: 700px;
    }

    .personal_li {
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
    }

    .song_genre {
        width: 480px;
    }

    .artist_song {
        font-size: 1.5rem;
    }
}


