{% extends "base.html" %} {% block title %}Dashboard{% endblock %}


{% block content %}
<h1 align="center">Top 10 Dashboard</h1>
<div class="dashboard-div">
    <ul class="list-group list-group-flush dashboard-ul" id="playlists">
        {% for artist_and_song in dashboard_data %}
        <li class="dashboard-li">
            <div class="artistsong_image">
                <p>{{ artist_and_song.dashboard_artist }} - {{ artist_and_song.dashboard_song }}</p>
                <img src="{{ artist_and_song.artist_spotify_image_url }}" alt="Life Playlist Dashboard Image">
            </div>
            <p class="spotify_and_youtube">
                {% if artist_and_song.artist_spotify_uri != 'None' %}
                <a href="{{ artist_and_song.artist_spotify_uri }}" class="dashboard-a spotify"><i
                        class="fab fa-spotify"></i>Listen now</a>
                {% else %}
                <span>Oops, not on Spotify</span>
                {% endif %}
                {% if artist_and_song.song_youtube_url != 'None' %}
                <a href="{{ artist_and_song.song_youtube_url }}" class="dashboard-a youtube" target="_blank"><i
                        class="fab fa-youtube"></i>On YouTube</a>
                {% else %}
                <sapn>Oops, not on Youtube</sapn>
                {% endif %}
                <select style="width:100px; height:20px;">
                    <option selected="Genre" disabled>Genre</option>
                    {% for genre in artist_and_song.artist_genres %}
                    <option>{{ genre }}</option>
                    {% endfor %}
                </select>
            </p>
        </li>
        <!-- <div id="dashboard_genre">
            {% for genre in artist_and_song.artist_genres %}
            <span> / {{ genre }}</span>
            {% endfor %}
        </div> -->
        {% endfor %}
    </ul>
</div>



<!-- {% for uri in spotify_artistpage %}
<a href="{{ uri }}">link</a>
{% endfor %} -->
<!-- <form method="POST">
    <textarea name="artist" id="artist" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Song</button>
    </div>
</form> -->


<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}