{% extends "base.html" %} {% block title %}Dashboard{% endblock %}


{% block content %}
<h1 align="center">Top 10 Dashboard</h1>
<div class="dashboard-div">
    <ul class="list-group list-group-flush dashboard-ul" id="playlists">
        {% for artist_and_song in dashboard_data %}
        <li class="dashboard-li">
            <div class="artistsong_image">
                <p>{{ artist_and_song.dashboard_artist }} - {{ artist_and_song.dashboard_song }}</p>
                <img src="{{ artist_and_song.artist_spotify_image_url }}" alt="Life Playlist Dashboard Image">
            </div>
            <p class="spotify_and_youtube">
                {% if artist_and_song.artist_spotify_uri != 'None' %}
                <a href="{{ artist_and_song.artist_spotify_uri }}" class="dashboard-a spotify"><i
                        class="fab fa-spotify"></i>Listen now</a>
                {% else %}
                <a href="#" class="dashboard-a spotify"><i class="fab fa-spotify"></i>Oops, no..</a>
                {% endif %}
                {% if artist_and_song.song_youtube_url != 'None' %}
                <a href="{{ artist_and_song.song_youtube_url }}" class="dashboard-a youtube" target="_blank"><i
                        class="fab fa-youtube"></i>YouTube</a>
                {% else %}
                <a href="#" class="dashboard-a youtube" target="_blank"><i class="fab fa-youtube"></i>No YT..</a>
                {% endif %}
                <!-- <select style="width:100px; height:20px;">
                    <option selected="Genre" disabled>Genre</option>
                    {% for genre in artist_and_song.artist_genres %}
                    <option>{{ genre }}</option>
                    {% endfor %}
                </select> -->

                <!-- <select style="width:100px; height:20px;" onchange="window.open(this.options[this.selectedIndex].value)">
                    <option selected="Genre" disabled>Genre</option>
                </select> -->
            </p>
        </li>
        <div style="display: flex; flex-wrap:wrap;" id="dashboard_genre">
            {% if artist_and_song.artist_genres_spotify_uri is not none %}
                {% for genre_uri in artist_and_song.artist_genres_spotify_uri %}
                <a href="{{ genre_uri.uri }}">{{ genre_uri.genre }}</a>
                {% endfor %}
            {% else if artist_and_song.artist_genres is not none %}
                {% for genre in artist_and_song.artist_genres %}
                <a href="#">{{ genre }}</a>
                {% endfor %}
            {% else %}
                <a href="#">Can't find genre, sorry!</a>
            {% endif %}
        </div>
        <!-- <div id="dashboard_genre">
            {% for genre in artist_and_song.artist_genres %}
            <span> / {{ genre }}</span>
            {% endfor %}
        </div> -->
        {% endfor %}
    </ul>
</div>



<!-- {% for uri in spotify_artistpage %}
<a href="{{ uri }}">link</a>
{% endfor %} -->
<!-- <form method="POST">
    <textarea name="artist" id="artist" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Song</button>
    </div>
</form> -->


<!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> -->
{% endblock %}