{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">My Life Playlist</h1>
<div class="playlists-div">
    <ul class="list-group list-group-flush personal_ul" id="playlists">
        {% if not user.playlists %}
        <p align="center">Your life playlist is empty, add songs to your playlist now 🙌</p>
        {% endif %}
        {% for artistAndSong in user.playlists %}
        <li class="list-group-item personal_li">
            <div class="song_genre">
                <p class="artist_song">{{ artistAndSong.artist }} - {{ artistAndSong.song }}</p>
                {% if artistAndSong.artist_genres is none %}
                <span>Come back tomorrow! 🦻</span>
                {% elif artistAndSong.artist_genres == "Can't find" %}
                <span>Can't find genre.🦻</span>
                {% else %}
                {% for genre in artistAndSong.artist_genres %}
                <span> / {{ genre }}</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="artistsong_image">
                {% if artistAndSong.artist_spotify_image_url is none %}
                <p> 🎵 </p>
                {% elif artistAndSong.artist_spotify_image_url == "Can't find" %}
                <p>Can't find album cover😵‍💫</p>
                {% else %}
                <img src="{{ artistAndSong.artist_spotify_image_url }}" alt="Life Playlist Image" width="100px">
                {% endif %}
                <div>
                    {% if artistAndSong.artist_spotify_uri is none %}
                    <a href="#" class="dashboard-a spotify"><i class="fab fa-spotify"></i>Update soon</a>
                    {% elif artistAndSong.artist_spotify_uri == "Can't find" %}
                    <a href="#" class="dashboard-a spotify"><i class="fab fa-spotify"></i>Can't find spotify uri.</a>
                    {% else %}
                    <a href="{{ artistAndSong.artist_spotify_uri }}" class="dashboard-a spotify"><i
                            class="fab fa-spotify"></i>Listen now</a>
                    {% endif %}
                </div>
            </div>
            <button type="button" class="close" onClick="deletePlaylistItem({{ artistAndSong.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
<br />
<form method="POST">
    <div class="addsong_div">
        <p>Artist's name:</p>
        <textarea name="artist" id="artist" class="form-control"></textarea>
        <br />
        <p>Song's name:</p>
        <textarea name="song" id="song" class="form-control"></textarea>
        <div align="center">
            <button type="submit" class="btn btn-primary" id="addsong__button">Add your love song</button>
        </div>
    </div>
</form>

{% if messages %}
{% else %}
{% endif %}


<!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> -->
{% endblock %}