{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %}
<h1 align="center">Playlist of your life</h1>
<ul class="list-group list-group-flush" id="playlists">
    {% for artistAndSong in user.playlists %}
    <li class="list-group-item">
        {{ artistAndSong.artist }} - {{ artistAndSong.song }}
        <button type="button" class="close" onClick="deletePlaylistItem({{ artistAndSong.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<br />
<form method="POST">
    <p>Artist's name:</p>
    <textarea name="artist" id="artist" class="form-control"></textarea>
    <br />
    <p>Song's name:</p>
    <textarea name="song" id="song" class="form-control"></textarea>
    <div align="center">
        <button type="submit" class="btn btn-primary" id="addsong__button">Add your love song</button>
    </div>
</form>


<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}