{% extends "base.html" %} {% block title %}Life Playlist: Music is must, record your Life Playlist{% endblock %}


{% block content %}
<h1 align="center" class="intro_title">Music is must, record your Life Playlist</h1>
<h3 align="center" class="intro_slogan">" You can tell a lot about a person by what's on their playlist. " 💭</h3>
{% if not user.is_authenticated %}
<div align="center" class="startusing_div">
    <button class="startusing_button"><a href="/sign-up" class="startusing_a">Start Using Now</a></button>
</div>
{% endif %}
<p align="center" style="margin-top:10px;">----------------------------------</p>
<div align="center" class="intro_description_div">
    <br>
    <p class="intro_description_p">
        You may check the dashboard to listen to other guys' favorite songs.
        And also you will receive email if someone has one song same with yours.
    </p>
</div>

<div class="intro_pic1_div">
    <img src="/static/intro_pic1.png" alt="lifeplaylist.app" class="intro_pic1">
</div>

<!-- <div class="intro_readme">
    <ul>
        <li>Readme:</li>
    </ul>
</div> -->

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> -->
{% endblock %}



{% block intro_readme %}
<div class="intro_readme">
    <div class="intro_readmediv">Readme:</div>
    <div class="intro_readmepointdiv">
        <div>
            <p class="intro_readmepointdiv_li">1. Sign up & Login.</p>
            <p class="intro_readmepointdiv_li">2. Enter your life songs.</p>
            <p class="intro_readmepointdiv_li">3. Check the dashboard and genres.</p>
            <p class="intro_readmepointdiv_li">4. And maybe you will find your soulmates.</p>
        </div>
    </div>
    <div class="intro_pic2_div" align="center">
        <img src="/static/intro_pic2.png" alt="lifeplaylist.app" class="intro_pic2">
    </div>
</div>
{% endblock %}


{% block second_description %}
    <div class="second_description">
        <!-- <div align="center"> -->
            <p class="second_description_p">
                So, this is a small app, you can create your own playlist.
                After you add your life songs to your personal Life Playlist, the information of the songs will update once
                a day.
            </p>
        <!-- </div> -->
    </div>
{% endblock %}