{% extends "base.html" %} {% block title %}Login{% endblock %}


{% block
content %}
<form method="POST" class="loginsignup_formsection">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <br />
    <div id="signuplogin__buttondiv">
        <button type="submit" class="btn" id="signup_login_button">Login</button>
    </div>
</form>
{% endblock %}

{% block intro_readme %}
<div class="intro_readme">
    <div class="intro_readmediv">Readme:</div>
    <div class="intro_readmepointdiv">
        <div>
            <p class="intro_readmepointdiv_li">1. Sign up & Login.</p>
            <p class="intro_readmepointdiv_li">2. Enter your life songs.</p>
            <p class="intro_readmepointdiv_li">3. Check the dashboard and genres.</p>
            <p class="intro_readmepointdiv_li">4. And maybe you will find your soulmates.</p>
        </div>
    </div>
</div>
{% endblock %}