{% extends "base.html" %} {% block title %}Login{% endblock %}


{% block
content %}
<form method="POST" class="loginsignup_formsection">
    <h3 align="center">Login</h3>
    <div align="center">
        <!-- <p>login with google</p> -->
        <div class="g-signin2" data-prompt="select_account" data-onsuccess="onSignIn" data-width="200" data-height="40" data-title="true">
            <i class="fab fa-google"></i>
            <p>使用 Google 帳號登入</p>
        </div>
    </div>
    <div class="split-line">
        <p>or</p>
    </div>
    <div class="form-group form-control-email">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group form-control-password">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <div>
        <input type="hidden" class="form-control" id="normal" name="normal" />
    </div>
    <br />
    <div id="signuplogin__buttondiv">
        <button type="submit" class="btn" id="signup_login_button">Login</button>
    </div>
</form>
{% endblock %}

{% block intro_readme %}
<div class="intro_readme">
    <div class="intro_readmediv">Readme:</div>
    <div class="intro_readmepointdiv">
        <div>
            <p class="intro_readmepointdiv_li">1. Sign up & Login.</p>
            <p class="intro_readmepointdiv_li">2. Enter your life songs.</p>
            <p class="intro_readmepointdiv_li">3. Check the dashboard and genres.</p>
            <p class="intro_readmepointdiv_li">4. And maybe you will find your soulmates.</p>
        </div>
    </div>
    <div class="intro_pic2_div" align="center">
        <img src="/static/intro_pic2.png" alt="lifeplaylist.app" class="intro_pic2">
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='oauth.js') }}"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
{% endblock %}


{% block second_description %}
<div class="second_description">
    <!-- <div align="center"> -->
    <p class="second_description_p">
        So, this is a small app, you can create your own playlist.
        After you add your life songs to your personal Life Playlist, the information of the songs will update once
        a day.
    </p>
    <!-- </div> -->
</div>
{% endblock %}