<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Playlist Email</title>
    <style>
        body {
            background-color: rgb(180, 216, 204);
            width: 1000px;
            height: 800px;
        }

        h1,
        h2,
        h5 {
            text-align: center;
        }

        a {
            color:rgb(152, 129, 62);
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>Talk to your soulmate on Life Playlist</h1>
    <h2>The reason we send you this email is because<br>
        we found one song in {{ soulmate_firstname }}'s life playlist are same as yours.</h2>
    <h2>And your soulmate's email is {{ soulmate_email }}.</h2>
    <h2>You guys can have a talk.</h2>
    <h2>Have a good one! </h2>
    <h5>- Life Playlist -</h5>
    <h5>
        <a href="https://linooohon.com">&copy; linooohon</a>
    </h5>
</body>

</html>